server:
  port: ${SERVER_PORT:8082}
  error:
    include-message: always
    include-binding-errors: always
logging:
  level:
    root: INFO
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
  file:
    name: ./logs/appointment-service.log
  logback:
    rollingpolicy:
      max-file-size: 300MB
      max-history: 30
spring:
  application:
    name: appointment-service
  
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:hospital_appointment_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:1234}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        default_schema: public
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
  
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3
      properties:
        max.block.ms: 5000
        request.timeout.ms: 5000
        delivery.timeout.ms: 7000
        linger.ms: 0
        enable.idempotence: true
        max.in.flight.requests.per.connection: 5
    consumer:
      group-id: appointment-service-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      auto-offset-reset: earliest
      enable-auto-commit: false
      properties:
        spring.json.trusted.packages: "*"
    topics:
      appointment-booked: appointment.booked
      appointment-booked-dlt: appointment.booked.dlt
    listener:
      ack-mode: manual

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true

jwt:
  secret: ${JWT_SECRET:my-super-secure-jwt-secret-key-256-bit-long!!}
  expiration: 86400000

appointment:
  slot-duration-minutes: 30
  booking-advance-days: 30
  max-concurrent-bookings: 200
